.hero {
  /* width: 802px;
  height: 280px; */
  opacity: 1;
  align-items: center;
  margin-top: 280px;
}
.hero-text {
  font-family: Inter;
  font-weight: 300;
  font-size: 19px;
  letter-spacing: 0%;
  align-items: center;
  color: white;
  opacity: 0.75;
  margin: 0;
  padding: 0;
}

.hero h1 {
  font-family: Inter;
  font-weight: 600;
  font-style: normal;
  font-size: 95px;
  letter-spacing: 0%;
  color: white;
  opacity: 0.75;
  margin: 0;
  padding: 0;
}

.cta-buttons {
  width: 217px;
  height: 64px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 12px;
}

.cta-buttons p {
  font-family: Inter;
  font-weight: 700;
  font-style: Regular;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
  opacity: 0.75;
  padding: 0;
  margin: 0;
}

.watch-btn {
  width: 70px;
  height: 70px;
  opacity: 1;
  background-color: transparent;
  border: none;
  padding: 0;
}

.watch-btn img {
  width: 70px;
  height: 70px;
}

.buttonss {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.live {
  font-family: Indie Flower;
  font-weight: 400;
  font-style: Regular;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}

.floating-card {
  position: absolute;
  margin-top: 100px;
   width: 400px;
   height: 600px;
  padding: 15px;
  background-color: rgba(20, 30, 20, 0.4);
 border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  color: white;
  border-radius: 50px;
  top: 80px;
   right: 80px;
   z-index: 20;
/* 
    clip-path: polygon(

    0 0, 
    0 40px,
    50% 80px,
    100% 40px, 
    100% 0,
    100% 100%, 
    0 100%
  ); */
}

.card-image-wrapper {
width: 100%;
overflow: visible;

}

.plantImage{
   width: 100%; 
    height: auto;
    display: block;
    
}

.card-content{
  margin-top:20px;
}